
/*nav start*/
.hometopbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    height: 70px;
}

.hometopbox .home_nav {
    width: 98%;
    margin: 0 auto 20px;
}

.hometopbox .home_nav .hlogo {
    width: 160px;
    float: left;
    margin-top: 20px;
}

.hometopbox .home_nav .hlogo img {
    width: 100%
}

.hometopbox .home_nav ul {
    width: calc(100% - 170px);
    float: right;
    border-bottom: solid 1px rgb(128, 128, 128);
    height: 42px;
    margin-top: 15px;
    position: relative;
}

.hometopbox .home_nav ul li {
    display: inline-block;
    font-size: 14px;
    height: 40px;
    margin-right: 40px;
    line-height: 40px;
    position: relative;
    vertical-align: top;
}

.hometopbox .home_nav ul li:hover {
    border-bottom: 5px #000 solid;
}

.hometopbox .home_nav ul li a {
    color: #333;
}

.hometopbox .home_nav ul span {
    position: absolute;
    right: 0%;
    bottom: 5px;
    font-size: 14px;
}

.hometopbox .home_nav ul span i {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

.hometopbox .home_nav ul span a:hover {
    color: #666;
    font-weight: bold
}

.hometopbox .home_nav ul span img {
    vertical-align: middle;
    padding-right: 10px;
    width: 30px;
}
/*nav end*/

/*banner start*/
.banner{
    width: 100%;
    overflow: hidden;
    margin-top: 70px;
    position: relative;
}
.banner-control{
    width: 250px;
    height: 20px;
    margin: 0 auto;
}
.banner-control li{
    float: left;
    margin:10px 20px;
    width: 10px;
    height: 10px;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 10px;
}
.banner-control li.active{
    width: 12px;
    height: 12px;
    margin: 8px 18px;
    opacity: 1;
}
.banner-inner{
    width: 500%;
    overflow: hidden;
    position: relative;
}

.banner-inner .item{
    float: left;
    width: 20%;
    overflow: hidden;
}
.banner-inner img{
    width: 100%;
    height: auto;
}
/*banner end*/
/*thr*/
.thr{
    width: 92%;
    margin: 0 auto;
}


/*homethr start*/


.home_thr {
    width: 70%;
    margin: 0 auto;
    min-width: 1024px;
}
.home_thr ul {
    font-size: 0;
}
.home_thr ul li {
    display: inline-block;
    width: 33%;
    margin-right: 0.3%;
}

.home_thr ul li span {
    font-family: Arial, Helvetica, sans-serif
}

.home_thr ul li h4 {
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 23px;
    font-family: '新宋体'
}

.home_thr ul li dd {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

.home_thr ul li div {
    overflow: hidden;
}

.home_thr ul li div img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 100%;
    transition: all 1s;
    overflow: hidden;
}

.home_thr ul li div img:hover {
    transform: scale(1.1);
}


/*homethr end*/