@charset "utf-8";
body {
	background: #fff
}

.hotel-main {
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px
}

.h-title {
	font-size: 24px;
	color: #333;
	line-height: 30px
}

.search-suggest-hotel .hs-keyword {
	color: #ff9d00
}

.date-warp {
	height: 47px;
	margin: 40px 0 70px 0;
	position: relative;
	z-index: 9
}

.add-travle {
	height: 45px;
	width: 352px;
	position: relative;
	float: left;
	margin-right: 10px
}

.add-travle input {
	width: 340px;
	height: 45px;
	border: 1px solid #999;
	font-size: 16px;
	color: #666;
	border-radius: 4px;
	padding: 0 0 0 10px
}

.add-travle .not-cont {
	width: 725px;
	padding: 25px 10px 0 10px;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	background: #fff;
	z-index: 10
}

.not-cont ul li {
	margin-bottom: 10px
}

.not-cont ul li h2 {
	font-size: 14px;
	color: #666;
	font-weight: bold;
	width: 70px;
	padding-left: 10px;
	float: left
}

.not-cont ul li p {
	float: left;
	width: 645px
}

.not-cont ul li p a {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 14px;
	width: 107px;
	color: #666
}

.not-cont ul li p a:hover {
	color: #ff8a00;
	text-decoration: none
}

.date-warp .search-suggest-panel {
	margin-top: 2px;
	width: 548px
}

.add-travle input:focus {
	border: 1px solid #ffa800;
	box-shadow: 0 0 4px #ffa800;
	transition: box-shadow .4s linear 0s
}

.stay-time,
.leave-time {
	position: relative;
	float: left;
	height: 47px;
	margin-right: 10px;
	cursor: pointer
}

.stay-time i,
.leave-time i {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 11px;
	top: 15px;
	background: url(/images/hotel/hotel_index/header-sprites3.png) 0 -140px no-repeat;
	cursor: pointer;
	overflow: hidden
}

.stay-time input,
.leave-time input,
.stay-time span,
.leave-time span {
	display: block;
	width: 170px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #999;
	border-radius: 4px;
	font-size: 16px;
	color: #666;
	padding: 0 0 0 15px
}

.stay-time input,
.leave-time input {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	padding: 0;
	border: 0;
	width: 100%
}

.stay-time.focus span,
.leave-time.focus span {
	border: 1px solid #ffa800;
	box-shadow: 0 0 5px #ffa800;
	transition: box-shadow .25s linear 0s
}

.date-warp .hs-item {
	height: 47px;
	position: relative;
	float: left;
	margin-right: 10px
}

.date-warp .hs-item>span {
	font-size: 16px;
	color: #666;
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 12px;
	border: 1px solid #999;
	border-radius: 4px;
	width: 159px;
	cursor: pointer
}

.date-warp .hs-icon {
	display: block;
	position: absolute;
	right: 10px;
	top: 15px
}

.date-warp .sel-dropdown .hs-icon {
	margin: 10px 0 0 0;
	position: static;
	float: right
}

.date-warp .hs-item-people .icon-person {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 10px;
	width: 15px;
	height: 16px;
	background: url(/images/hotel/hotel-detail-icon7.png?a=1) no-repeat;
	background-position: -70px -140px!important;
	vertical-align: middle;
	overflow: hidden
}

@media(min-resolution:1.25dppx),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
	.date-warp .hs-item-people .icon-person {
		background: url(/images/hotel/hotel-detail-icon8@2x.png?a=1);
		background-size: 400px auto
	}
}

.date-warp .hs-icon-p1 {
	background: url(/images/hotel/hotel_index/hotel-list-icon.png) 0 -20px no-repeat;
	width: 16px;
	height: 16px
}

.date-warp .hs-icon-p2 {
	background: url(/images/hotel/hotel_index/hotel-list-icon.png) -18px -20px no-repeat;
	width: 18px;
	height: 16px
}

.date-warp .hs-icon-pmore {
	background: url(/images/hotel/hotel_index/hotel-list-icon.png) -38px -20px no-repeat;
	width: 22px;
	height: 16px
}

.date-warp .sel-dropdown {
	margin: -1px 0 0;
	width: 183px;
	font-size: 14px;
	color: #666;
	position: absolute;
	border: 1px solid #e5e5e5;
	background: #FFF;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	line-height: 45px;
	z-index: 30
}

.date-warp .sel-dropdown li {
	padding: 0 10px 0 12px;
	height: 45px;
	cursor: pointer
}

.date-warp .sel-dropdown li:hover {
	background: #f6f6f6
}

.date-warp .btn-search {
	width: 46px;
	height: 46px;
	line-height: 46px;
	background: #ffa800;
	float: left;
	border-radius: 5px;
	cursor: pointer;
	text-align: center
}

.date-warp .btn-search:hover {
	background: #ff8a00
}

.date-warp .btn-search i {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(/images/hotel/hotel_index/header-sprites3.png?a=1) no-repeat;
	background-position: 0 -165px;
	vertical-align: middle
}

.h-notice ul li {
	float: left;
	width: 333px
}

.h-notice ul li i {
	display: block;
	float: left;
	margin-right: 13px;
	background: url(/images/hotel/hotel_index/hotel-sprites1.png) no-repeat
}

.h-notice ul li i.notice01 {
	width: 35px;
	height: 42px;
	background-position: 0 0
}

.h-notice ul li i.notice02 {
	width: 43px;
	height: 42px;
	background-position: -40px 0;
	margin-left: 40px
}

.h-notice ul li i.notice03 {
	width: 44px;
	height: 42px;
	background-position: -85px 0;
	margin-left: 80px
}

.h-notice ul li h2 {
	font-size: 18px;
	color: #666;
	line-height: 18px;
	font-weight: normal
}

.h-notice ul li p {
	font-size: 14px;
	color: #666;
	margin-top: 5px
}

.h-theme {
	padding-bottom: 100px
}

.h-theme .h-title {
	text-align: center;
	margin: 100px 0 25px 0
}

.themeList {
	border-bottom: 1px solid #e4e4e4
}

.themeList a {
	display: block;
	text-decoration: none;
	float: left;
	width: 166px;
	width: 16.66%;
	color: #666;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 18px
}

.themeList a.on {
	color: #ff8a00;
	border-bottom: 3px solid #ff8a00;
	margin-bottom: -2px
}

.tab-theme ul {
	width: 1023px
}

.tab-theme ul li {
	width: 318px;
	height: 240px;
	float: left;
	margin: 20px 23px 0 0;
	position: relative
}

.tab-theme ul li .pic {
	width: 318px;
	height: 240px;
	overflow: hidden
}

.tab-theme ul li .bag-opa {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: .2;
	z-index: 2
}

.tab-theme ul li .info {
	text-align: center;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -30px
}

.tab-theme ul li .info h2 {
	font-size: 30px;
	color: #FFF;
	font-weight: normal
}

.tab-theme ul li .info p {
	font-size: 18px;
	color: #FFF
}

.fc-item {
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	will-change: transform
}

.fc-item::after {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: -1;
	display: block;
	content: '';
	height: 22px;
	width: 100%;
	background: url('floating-card-shadow.png?a=1') no-repeat;
	background-size: 100%
}

.fc-item img {
	width: 318px;
	height: 240px;
	min-height: 240px
}

.fc-item .shadow {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: auto;
	width: 100%;
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.4), transparent 40%);
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), transparent 40%);
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.fc-item .info {
	pointer-events: none;
	-webkit-transform: translateZ(100px) scale(0.9);
	transform: translateZ(100px) scale(0.9)
}

.fc-item .info h2,
.fc-item .info p {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
}

.h-favorablle {
	padding-bottom: 100px
}

.h-favorablle .h-title {
	text-align: center;
	margin: 20px 0 25px 0
}

.favList {
	border-bottom: 1px solid #e4e4e4;
	width: 1000px;
	margin: 0 auto
}

.favList a {
	display: block;
	text-decoration: none;
	float: left;
	width: 166px;
	width: 16.66%;
	color: #666;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 18px
}

.favList a.on {
	color: #ff8a00;
	border-bottom: 3px solid #ff8a00;
	margin-bottom: -2px
}

.tab-fav ul {
	width: 1012px;
	padding-top: 20px
}

.tab-fav ul li {
	width: 240px;
	height: 240px;
	overflow: hidden;
	float: left;
	margin: 0 13px 13px 0;
	position: relative
}

.tab-fav ul li .fraction {
	width: 55px;
	height: 25px;
	font-size: 18px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 13px;
	top: 13px;
	text-align: center;
	line-height: 25px;
	border-radius: 4px;
	z-index: 5
}

.tab-fav ul li .bag-opa {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: .2;
	z-index: 2
}

.tab-fav ul li .info {
	position: absolute;
	z-index: 3;
	left: 13px;
	bottom: 13px;
	width: 220px;
	margin-top: -30px;
	color: #FFF
}

.tab-fav ul li .info .prize span {
	color: #ff8a00;
	font-size: 16px
}

.tab-fav ul li .info .prize i {
	margin-left: 5px;
	font-style: normal;
	text-decoration: line-through;
	font-size: 16px
}

.tab-fav ul li .prize span b {
	font-weight: normal;
	font-size: 22px
}

.tab-fav ul li .info p {
	font-size: 14px
}

.tab-fav ul li .info p.eng {
	font-size: 12px
}

.tab-fav ul li img {
	width: 240px;
	height: 240px
}

.tab-fav .info .prize,
.tab-fav .info p {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
}

.cont02 ul {
	padding-top: 25px
}

.cont02 ul li {
	float: left;
	width: 250px;
	height: 250px;
	overflow: hidden;
	position: relative;
	margin: 0
}

.cont02 ul li .pic {
	width: 250px;
	height: 250px;
	overflow: hidden
}

.cont02 ul li .pic img {
	width: 250px;
	height: 250px
}

.cont02 ul li .info {
	position: absolute;
	left: 0;
	top: 50%;
	width: 250px;
	text-align: center
}

.cont02 ul li .info h2 {
	color: #fff4d6;
	font-weight: normal
}

.cont02 ul li .info p {
	color: #fff4d6;
	display: block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: .2em
}

.cont02 ul li .lst-bag {
	background: rgba(209, 104, 71, 0.8);
	color: #FFF;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 0;
	top: 0
}

.cont02 .lst-bag .cent-ma {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: 50%;
	margin-top: -25px
}

.cont02 .lst-bag h2 {
	font-size: 30px;
	color: #FFF;
	font-weight: normal
}

.cont02 .lst-bag p {
	font-size: 18px;
	color: #FFF
}

.cont02 ul li .colour02 {
	background: rgba(29, 175, 185, 0.8)
}

.cont02 ul li .colour03 {
	background: rgba(183, 202, 212, 0.8)
}

.cont02 ul li .colour04 {
	background: rgba(247, 145, 136, 0.8)
}

.cont02 ul li .colour05 {
	background: rgba(252, 202, 117, 0.8)
}

.cont02 ul li .colour06 {
	background: rgba(25, 61, 90, 0.8)
}

.cont02 ul li .colour07 {
	background: rgba(127, 55, 58, 0.8)
}

.cont02 ul li .colour08 {
	background: rgba(192, 95, 72, 0.8)
}

.h-favorablle .cont01 ul li img {
	-webkit-transition: all 1s linear;
	transition: all 1s linear
}

.h-favorablle .cont01 ul li:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}

@media(min-resolution:1.25dppx),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
	.h-notice ul li i {
		background: url(/images/hotel/hotel_index/2x@hotel-sprites1.png) no-repeat;
		background-size: 150px 42px
	}
	.h-notice ul li i.notice02 {
		background-position: -47px 0
	}
	.h-notice ul li i.notice03 {
		background-position: -100px 0
	}
	.date-warp .btn-search i {
		background: url(/images/hotel/hotel_index/hotel-list-icon.png?a=1) no-repeat;
		background-size: 100px 100px;
		background-position: -24px -51px
	}
	.stay-time i,
	.leave-time i {
		background: url(/images/hotel/hotel_index/hotel-list-icon.png?a=1) no-repeat;
		background-size: 100px 100px;
		background-position: 0 -51px
	}
}

.hotel-main .ad-banner {
	margin-top: 70px
}

.h-title {
	color: #333
}

.icon-act616 {
	display: inline-block;
	margin-right: 4px;
	width: 71px;
	height: 34px;
	background: url(/images/hotel/icon-act616-ind.png) no-repeat;
	vertical-align: -6px;
	*vertical-align: middle
}

.act616-rule {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: super
}

.act616-rule .btn-rule {
	display: inline-block;
	line-height: 20px;
	padding: 0 5px;
	background-color: #bfbfbf;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
	cursor: default
}

.act616-rule-pop {
	position: absolute;
	margin: 10px 0 0 -236px;
	z-index: 40;
	width: 465px;
	padding: 15px 20px;
	background-color: #000;
	background-color: rgba(0, 0, 0, .65);
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	font-weight: normal
}

.act616-rule-pop h4 {
	text-align: center
}

.act616-rule-pop .icon-act616 {
	display: inline-block;
	width: 40px;
	height: 18px;
	background: url(/images/hotel/icon-616.png) no-repeat;
	vertical-align: -5px;
	*vertical-align: middle
}

.act616-rule-pop .i-arr {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -4px;
	border-bottom: 5px solid #000;
	border-bottom: 5px solid rgba(0, 0, 0, .65);
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

.hotel-pop {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100
}

.hotel-pop .backg-gray {
	background: #000;
	opacity: .8;
	width: 100%;
	height: 100%
}

.hotel-pop .pop-box {
	width: 990px;
	height: 590px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -495px;
	margin-top: -295px
}

.pop-box .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url("/images/hotel/hotel_index/slide-icon.png") no-repeat;
	background-position: 0 -70px
}

.pop-box .more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 990px;
	text-align: center
}

.pop-box .more a {
	font-size: 16px;
	color: #FFF
}

.pop-box .more a:hover {
	text-decoration: none
}

.pop-slide {
	width: 990px;
	height: 540px;
	position: relative
}

.pop-slide .btn-lt {
	width: 30px;
	height: 56px;
	background: url("/images/hotel/hotel_index//slide-icon.png") no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -28px;
	cursor: pointer
}

.pop-slide .btn-rt {
	width: 30px;
	height: 56px;
	background: url("/images/hotel/hotel_index/slide-icon.png") no-repeat;
	background-position: -70px 0;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -28px;
	cursor: pointer
}

.pop-slide .page {
	background: url("/images/hotel/hotel_index/slide-page.png") no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -40px;
	margin-left: 455px;
	z-index: 101;
	border-radius: 50%;
	color: #FFF
}

.pop-slide .page span {
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 30px
}

.pop-slide .page i {
	display: block;
	font-style: normal;
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 14px
}

.pop-slide .slide-box {
	width: 840px;
	height: 540px;
	margin: 0 auto;
	overflow: hidden;
	position: relative
}

.pop-slide .slide-box .sed01 .info {
	width: 182px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 85px;
	top: 50%;
	margin-top: -150px;
	border: 2px solid #FFF;
	font-size: 14px;
	color: #FFF
}

.pop-slide .slide-box .sed01 .info p {
	line-height: 30px
}

.sed-lst {
	width: 100%;
	height: 540px
}

.sed-lst .hotel-img01,
.sed-lst .hotel-img02,
.sed-lst .hotel-img03,
.sed-lst .hotel-img04 {
	width: 50%;
	height: 50%;
	float: left;
	position: relative
}

.hotel-img01 .h-about {
	width: 210px;
	height: 67px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	position: absolute;
	right: 40px;
	bottom: 40px;
	padding-top: 8px
}

.hotel-img01 .h-about p {
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	padding-right: 5px
}

.hotel-img02 .h-about {
	width: 190px;
	height: 55px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	position: absolute;
	left: 40px;
	bottom: 40px;
	padding: 10px;
	line-height: 20px
}

.hotel-img03 .h-about {
	width: 210px;
	height: 67px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	position: absolute;
	right: 40px;
	top: 40px;
	padding-top: 8px
}

.hotel-img03 .h-about p {
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	padding-right: 5px
}

.hotel-img03 .h-about p span {
	font-size: 14px;
	color: #ffa800
}

.hotel-img04 .h-about {
	width: 190px;
	height: 55px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	position: absolute;
	left: 40px;
	top: 40px;
	padding: 10px;
	line-height: 20px
}

.hotel-main {
	position: relative;
	z-index: 5
}

.sum-hotle {
	background: url("http://images.mafengwo.net/images/hotel/hotel_index/summer75.png") no-repeat;
	position: absolute;
	left: -160px;
	top: -27px;
	z-index: 2;
	width: 855px;
	height: 320px
}

.sum-hotle .q-icon {
	width: 85px;
	height: 58px;
	position: absolute;
	left: 526px;
	top: 82px;
	cursor: pointer
}

.hotel-main .rule-box {
	background: #000;
	padding: 15px 20px;
	width: 300px;
	border-radius: 5px;
	position: absolute;
	left: 455px;
	top: 35px;
	z-index: 10;
	color: #FFF
}

.hotel-main .rule-box h3 {
	margin-bottom: 5px;
	font-weight: normal
}

.hotel-main .rule-box p {
	line-height: 30px;
	font-size: 12px
}

.hotel-main .rule-box p span {
	display: inline-block;
	width: 52px;
	height: 20px;
	background: url("http://images.mafengwo.net/images/hotel/hotel_index/storm-icon.png") no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	margin: 0 5px
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.hotel-main .rule-box p span {
		background: url("http://images.mafengwo.net/images/hotel/hotel_index/storm-icon.png") no-repeat;
		background-size: 122px 65px;
		background-position: 0 -11px
	}
	.sum-hotle {
		background: url("http://images.mafengwo.net/images/hotel/hotel_index/summer@2X.png") no-repeat;
		background-size: 860px 493px;
		background-position: 0 0
	}
}


/*! jQuery UI - v1.11.0 - 2014-06-26
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, button.css, datepicker.css, dialog.css, draggable.css, menu.css, progressbar.css, resizable.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden {
	display: none
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse
}

.ui-helper-clearfix:after {
	clear: both
}

.ui-helper-clearfix {
	min-height: 0
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0)
}

.ui-front {
	z-index: 100
}

.ui-state-disabled {
	cursor: default!important
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0;
	font-size: 100%
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px
}

.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none
}

.ui-button-icon-only {
	width: 2.2em
}

button.ui-button-icon-only {
	width: 2.4em
}

.ui-button-icons-only {
	width: 3.4em
}

button.ui-button-icons-only {
	width: 3.7em
}

.ui-button .ui-button-text {
	display: block;
	line-height: normal
}

.ui-button-text-only .ui-button-text {
	padding: .4em 1em
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px
}

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em
}

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em
}

.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em
}

input.ui-button {
	padding: .4em 1em
}

.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px
}

.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em
}

.ui-buttonset {
	margin-right: 7px
}

.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em
}

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px
}

.ui-datepicker .ui-datepicker-next {
	right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0
}

.ui-datepicker td {
	border: 0;
	padding: 1px
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left
}

.ui-datepicker.ui-datepicker-multi {
	width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0
}

.ui-datepicker-rtl {
	direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px
}

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: 0;
	overflow: auto
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer
}

.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move
}

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0
}

.ui-menu .ui-menu {
	position: absolute
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
}

.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px
}

.ui-menu-icons {
	position: relative
}

.ui-menu-icons .ui-menu-item {
	padding-left: 2em
}

.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0
}

.ui-menu .ui-menu-icon {
	left: auto;
	right: 0
}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%
}

.ui-progressbar .ui-progressbar-overlay {
	background: url("http://images.mafengwo.net/images/jquery_ui_1_11/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: .25
}

.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none
}

.ui-resizable {
	position: relative
}

.ui-resizable-handle {
	position: absolute;
	font-size: .1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px
}

.ui-selectable {
	-ms-touch-action: none;
	touch-action: none
}

.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px .4em;
	margin: .5em 0 0 0;
	height: auto;
	border: 0
}

.ui-selectmenu-open {
	display: block
}

.ui-selectmenu-button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer
}

.ui-selectmenu-button span.ui-icon {
	right: .5em;
	left: auto;
	margin-top: -8px;
	position: absolute;
	top: 50%
}

.ui-selectmenu-button span.ui-selectmenu-text {
	text-align: left;
	padding: .4em 2.1em .4em 1em;
	display: block;
	line-height: 1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.ui-slider {
	position: relative;
	text-align: left
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit
}

.ui-slider-horizontal {
	height: .8em
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0
}

.ui-slider-vertical {
	width: .8em;
	height: 100px
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0
}

.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none
}

.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle
}

.ui-spinner-input {
	border: 0;
	background: 0;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px
}

.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0
}

.ui-spinner a.ui-spinner-button {
	border-top: 0;
	border-bottom: 0;
	border-right: 0
}

.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0
}

.ui-spinner-up {
	top: 0
}

.ui-spinner-down {
	bottom: 0
}

.ui-spinner .ui-icon-triangle-1-s {
	background-position: -65px -16px
}

.ui-tabs {
	position: relative;
	padding: .2em
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: 0
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa
}

body .ui-tooltip {
	border-width: 2px
}

.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em
}

.ui-widget .ui-widget {
	font-size: 1em
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em
}

.ui-widget-content {
	border: 1px solid #ddd;
	background: #eee url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333
}

.ui-widget-content a {
	color: #333
}

.ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828 url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #fff;
	font-weight: bold
}

.ui-widget-header a {
	color: #fff
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #ccc;
	background: #f6f6f6 url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #c77405;
	text-decoration: none
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #fbd850;
	background: #fff url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
	color: #363636
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;
	color: #fff
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #fff
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #fff
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity=70);
	font-weight: normal
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none
}

.ui-state-disabled .ui-icon {
	filter: Alpha(Opacity=35)
}

.ui-icon {
	width: 16px;
	height: 16px
}

.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_222222_256x240.png")
}

.ui-widget-header .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_ffffff_256x240.png")
}

.ui-state-default .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_ef8c08_256x240.png")
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_ef8c08_256x240.png")
}

.ui-state-active .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_ef8c08_256x240.png")
}

.ui-state-highlight .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_228ef1_256x240.png")
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-icons_ffd27a_256x240.png")
}

.ui-icon-blank {
	background-position: 16px 16px
}

.ui-icon-carat-1-n {
	background-position: 0 0
}

.ui-icon-carat-1-ne {
	background-position: -16px 0
}

.ui-icon-carat-1-e {
	background-position: -32px 0
}

.ui-icon-carat-1-se {
	background-position: -48px 0
}

.ui-icon-carat-1-s {
	background-position: -64px 0
}

.ui-icon-carat-1-sw {
	background-position: -80px 0
}

.ui-icon-carat-1-w {
	background-position: -96px 0
}

.ui-icon-carat-1-nw {
	background-position: -112px 0
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px
}

.ui-icon-arrow-4 {
	background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px
}

.ui-icon-extlink {
	background-position: -32px -80px
}

.ui-icon-newwin {
	background-position: -48px -80px
}

.ui-icon-refresh {
	background-position: -64px -80px
}

.ui-icon-shuffle {
	background-position: -80px -80px
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px
}

.ui-icon-folder-open {
	background-position: -16px -96px
}

.ui-icon-document {
	background-position: -32px -96px
}

.ui-icon-document-b {
	background-position: -48px -96px
}

.ui-icon-note {
	background-position: -64px -96px
}

.ui-icon-mail-closed {
	background-position: -80px -96px
}

.ui-icon-mail-open {
	background-position: -96px -96px
}

.ui-icon-suitcase {
	background-position: -112px -96px
}

.ui-icon-comment {
	background-position: -128px -96px
}

.ui-icon-person {
	background-position: -144px -96px
}

.ui-icon-print {
	background-position: -160px -96px
}

.ui-icon-trash {
	background-position: -176px -96px
}

.ui-icon-locked {
	background-position: -192px -96px
}

.ui-icon-unlocked {
	background-position: -208px -96px
}

.ui-icon-bookmark {
	background-position: -224px -96px
}

.ui-icon-tag {
	background-position: -240px -96px
}

.ui-icon-home {
	background-position: 0 -112px
}

.ui-icon-flag {
	background-position: -16px -112px
}

.ui-icon-calendar {
	background-position: -32px -112px
}

.ui-icon-cart {
	background-position: -48px -112px
}

.ui-icon-pencil {
	background-position: -64px -112px
}

.ui-icon-clock {
	background-position: -80px -112px
}

.ui-icon-disk {
	background-position: -96px -112px
}

.ui-icon-calculator {
	background-position: -112px -112px
}

.ui-icon-zoomin {
	background-position: -128px -112px
}

.ui-icon-zoomout {
	background-position: -144px -112px
}

.ui-icon-search {
	background-position: -160px -112px
}

.ui-icon-wrench {
	background-position: -176px -112px
}

.ui-icon-gear {
	background-position: -192px -112px
}

.ui-icon-heart {
	background-position: -208px -112px
}

.ui-icon-star {
	background-position: -224px -112px
}

.ui-icon-link {
	background-position: -240px -112px
}

.ui-icon-cancel {
	background-position: 0 -128px
}

.ui-icon-plus {
	background-position: -16px -128px
}

.ui-icon-plusthick {
	background-position: -32px -128px
}

.ui-icon-minus {
	background-position: -48px -128px
}

.ui-icon-minusthick {
	background-position: -64px -128px
}

.ui-icon-close {
	background-position: -80px -128px
}

.ui-icon-closethick {
	background-position: -96px -128px
}

.ui-icon-key {
	background-position: -112px -128px
}

.ui-icon-lightbulb {
	background-position: -128px -128px
}

.ui-icon-scissors {
	background-position: -144px -128px
}

.ui-icon-clipboard {
	background-position: -160px -128px
}

.ui-icon-copy {
	background-position: -176px -128px
}

.ui-icon-contact {
	background-position: -192px -128px
}

.ui-icon-image {
	background-position: -208px -128px
}

.ui-icon-video {
	background-position: -224px -128px
}

.ui-icon-script {
	background-position: -240px -128px
}

.ui-icon-alert {
	background-position: 0 -144px
}

.ui-icon-info {
	background-position: -16px -144px
}

.ui-icon-notice {
	background-position: -32px -144px
}

.ui-icon-help {
	background-position: -48px -144px
}

.ui-icon-check {
	background-position: -64px -144px
}

.ui-icon-bullet {
	background-position: -80px -144px
}

.ui-icon-radio-on {
	background-position: -96px -144px
}

.ui-icon-radio-off {
	background-position: -112px -144px
}

.ui-icon-pin-w {
	background-position: -128px -144px
}

.ui-icon-pin-s {
	background-position: -144px -144px
}

.ui-icon-play {
	background-position: 0 -160px
}

.ui-icon-pause {
	background-position: -16px -160px
}

.ui-icon-seek-next {
	background-position: -32px -160px
}

.ui-icon-seek-prev {
	background-position: -48px -160px
}

.ui-icon-seek-end {
	background-position: -64px -160px
}

.ui-icon-seek-start {
	background-position: -80px -160px
}

.ui-icon-seek-first {
	background-position: -80px -160px
}

.ui-icon-stop {
	background-position: -96px -160px
}

.ui-icon-eject {
	background-position: -112px -160px
}

.ui-icon-volume-off {
	background-position: -128px -160px
}

.ui-icon-volume-on {
	background-position: -144px -160px
}

.ui-icon-power {
	background-position: 0 -176px
}

.ui-icon-signal-diag {
	background-position: -16px -176px
}

.ui-icon-signal {
	background-position: -32px -176px
}

.ui-icon-battery-0 {
	background-position: -48px -176px
}

.ui-icon-battery-1 {
	background-position: -64px -176px
}

.ui-icon-battery-2 {
	background-position: -80px -176px
}

.ui-icon-battery-3 {
	background-position: -96px -176px
}

.ui-icon-circle-plus {
	background-position: 0 -192px
}

.ui-icon-circle-minus {
	background-position: -16px -192px
}

.ui-icon-circle-close {
	background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px
}

.ui-icon-circle-check {
	background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px
}

.ui-widget-overlay {
	background: #666 url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50)
}

.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000 url("http://images.mafengwo.net/images/jquery_ui_1_11/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px
}

.hotel_datepicker.ui-datepicker {
	z-index: 2000!important;
	border: 1px solid #ffa800;
	border-radius: 4px;
	box-shadow: 0 0 4px #ffa800;
	background: #fefefe;
	padding: 12px;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	font-family: inherit
}

.hotel_datepicker.ui-datepicker.ui-datepicker-multi-2 {
	width: 500px!important
}

.hotel_datepicker.ui-datepicker .ui-datepicker-group {
	box-sizing: border-box
}

.hotel_datepicker.ui-datepicker .ui-datepicker-group-first {
	border-right: 1px #e0e0e0 solid;
	padding-right: 4px
}

.hotel_datepicker.ui-datepicker .ui-datepicker-group-last {
	padding-left: 4px
}

.hotel_datepicker .ui-state-hover,
.hotel_datepicker .ui-widget-content .ui-state-hover,
.hotel_datepicker .ui-widget-header .ui-state-hover,
.hotel_datepicker .ui-state-focus,
.hotel_datepicker .ui-widget-content .ui-state-focus,
.hotel_datepicker .ui-widget-header .ui-state-focus {
	border: 0;
	background: 0
}

.hotel_datepicker.ui-datepicker .ui-widget-header {
	border: 0;
	background: 0;
	color: #333;
	font-weight: normal
}

.hotel_datepicker.ui-datepicker .ui-datepicker-prev {
	top: 6px;
	left: 2px
}

.hotel_datepicker.ui-datepicker .ui-datepicker-next {
	top: 6px;
	right: 2px
}

.hotel_datepicker.ui-datepicker .ui-widget-header .ui-icon-circle-triangle-e,
.hotel_datepicker.ui-datepicker .ui-widget-header .ui-icon-circle-triangle-w {
	background-image: url(/images/hotel/datepicker-arrow.png)
}

.hotel_datepicker.ui-datepicker .ui-icon-circle-triangle-e {
	background-position: -10px 0
}

.hotel_datepicker.ui-datepicker .ui-icon-circle-triangle-w {
	background-position: 0 0
}

.hotel_datepicker.ui-datepicker .ui-state-disabled .ui-icon-circle-triangle-e {
	background-position: -10px 0
}

.hotel_datepicker.ui-datepicker .ui-state-disabled .ui-icon-circle-triangle-w {
	background-position: 0 0
}

.hotel_datepicker.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-w {
	background-position: 0 -15px
}

.hotel_datepicker.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-e {
	background-position: -10px -15px
}

.hotel_datepicker.ui-datepicker th,
.hotel_datepicker.ui-datepicker td {
	width: 14.285714285714286%
}

.hotel_datepicker.ui-datepicker th {
	font-weight: normal
}

.hotel_datepicker.ui-datepicker th.ui-datepicker-week-end {
	color: #ff7000;
	font-weight: bold
}

.hotel_datepicker.ui-datepicker td {
	padding: 0
}

.hotel_datepicker.ui-datepicker .ui-state-default {
	border: 0;
	height: 27px;
	line-height: 28px;
	padding: 0 1px 1px 0;
	background: 0;
	font-size: 12px;
	color: #333;
	font-weight: normal;
	text-align: center;
	position: relative
}

.hotel_datepicker.ui-datepicker .ui-state-highlight {
	color: #333
}

div.ui-datepicker.hotel_datepicker .ui-datepicker-month {
	font-size: 16px
}

div.ui-datepicker-multi.hotel_datepicker .ui-datepicker-group table {
	width: 99%
}

div.ui-datepicker.hotel_datepicker .ui-datepicker-prev,
div.ui-datepicker.hotel_datepicker .ui-datepicker-next {
	width: 20px;
	height: 20px
}

.hotel_datepicker .ui-datepicker-header .ui-icon {
	position: static;
	width: 10px;
	height: 13px;
	margin: 4px 5px
}

.hotel_datepicker table {
	font-size: 14px
}

.hotel_datepicker .start_day .ui-state-default,
.hotel_datepicker .end_day .ui-state-default {
	background: #757575;
	color: #fff;
	font-weight: bold;
	overflow: hidden
}

.hotel_datepicker .start_day .ui-state-default:after,
.hotel_datepicker .end_day .ui-state-default:after {
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -14px;
	border: 14px solid #e0e0e0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

.hotel_datepicker .start_day .ui-state-default:after {
	left: 28px;
	border-left: 6px solid #757575
}

.hotel_datepicker .end_day .ui-state-default:after {
	right: 28px;
	border-right: 6px solid #757575
}

.hotel_datepicker .range_day .ui-state-default {
	background: #e0e0e0;
	font-weight: bold
}

.hotel_datepicker .unset .ui-state-default {
	background: #ff9e00;
	color: #fff;
	font-weight: bold;
	overflow: hidden
}

.hotel_datepicker .unset .ui-state-default:after {
	content: " ";
	display: none
}

.hotel_datepicker .start_day_unset .ui-state-default,
.hotel_datepicker .end_day_unset .ui-state-default {
	background: #ff9e00;
	color: #fff;
	font-weight: bold;
	overflow: hidden
}

.hotel_datepicker .start_day_unset .ui-state-default:after,
.hotel_datepicker .end_day_unset .ui-state-default:after {
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -14px;
	border: 14px solid #fff;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0
}

.hotel_datepicker .start_day_unset .ui-state-default:after {
	left: 28px;
	border-left: 6px solid #ff9e00
}

.hotel_datepicker .end_day_unset .ui-state-default:after {
	right: 28px;
	border-right: 6px solid #ff9e00
}

.hotel_datepicker.ui-datepicker .active-day .ui-state-default {
	background: #757575;
	color: #fff;
	font-weight: bold;
	overflow: hidden
}

.hotel_datepicker.ui-datepicker .ui-state-default.ui-state-hover {
	background: #ff9e00;
	color: #fff;
	font-weight: bold;
	overflow: hidden
}

.hotel_datepicker.ui-datepicker .ui-state-default .fes {
	color: #ff7000;
	font-weight: bold
}

.hotel_datepicker.ui-datepicker .ui-state-default.ui-state-hover .fes {
	color: #fff
}

.hotel_datepicker .range_day .ui-state-default .fes {
	color: #333
}

.hotel_datepicker .start_day .ui-state-default .fes,
.hotel_datepicker .end_day .ui-state-default .fes {
	color: #fff
}

.hotel_datepicker .start_day_unset .ui-state-default .fes,
.hotel_datepicker .end_day_unset .ui-state-default .fes {
	color: #fff
}

.hotel_datepicker .start_day .ui-state-default .fes,
.hotel_datepicker .start_day_unset .ui-state-default .fes {
	padding-left: 3px;
	text-align: left
}

.hotel_datepicker .end_day .ui-state-default .fes,
.hotel_datepicker .end_day_unset .ui-state-default .fes {
	padding-right: 3px;
	text-align: right
}

.number-guests-picker.focus>span {
	border: 1px solid #ffa800;
	box-shadow: 0 0 4px #ffa800;
	transition: box-shadow .4s linear 0s
}

.ngp-dropdown {
	position: absolute;
	z-index: 1000;
	margin-top: -1px;
	border: 1px solid #ffa800;
	border-radius: 4px;
	box-shadow: 0 0 4px #ffa800;
	background-color: #fff;
	padding: 0 15px;
	width: 480px;
	cursor: default;
	-webkit-transition: all .2s;
	transition: all .2s
}

.ngp-dropdown.align-right {
	right: 0
}

.ngp-dropdown .item {
	padding: 20px 0;
	border-bottom: 1px solid #c6c6c6;
	line-height: 28px
}

.ngp-dropdown .item .label {
	float: left;
	width: 60px
}

.ngp-dropdown .item .row-children {
	margin-top: 12px
}

.ngp-dropdown .item .btn-action {
	float: right;
	display: inline-block;
	padding: 2px 22px;
	background-color: #ffb200;
	border-radius: 4px;
	font-size: 14px;
	line-height: 24px;
	color: #fff
}

.ngp-dropdown .item .btn-action:hover {
	text-decoration: none;
	background-color: #ff9d00
}

.ngp-dropdown .item .btn-action.disabled {
	background-color: #efefef;
	color: #999
}

.ngp-dropdown .item .btn-action.disabled:hover {
	background-color: #efefef
}

.ngp-dropdown .item .tips {
	font-size: 12px;
	color: #ef523d
}

.ngp-dropdown .item.item-action {
	border-bottom: 0
}

.ngp-select {
	float: left;
	position: relative;
	width: 90px;
	margin-right: 10px
}

.ngp-select .select-trigger {
	padding: 0 8px;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	cursor: pointer
}

.ngp-select .select-trigger span {
	user-select: none
}

.ngp-select .select-trigger .caret {
	float: right;
	width: 15px;
	height: 18px;
	margin-top: 4px;
	border-left: 1px solid #c6c6c6;
	line-height: 0;
	text-align: right
}

.ngp-select .select-trigger .caret i {
	border-top: 4px solid #999;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	vertical-align: -7px
}

.ngp-select ul {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: -1px;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	background-color: #fff;
	-webkit-transition: all .2s;
	transition: all .2s
}

.ngp-select.scroll-select ul {
	height: 168px;
	overflow: auto
}

.ngp-select ul li {
	padding: 0 15px;
	cursor: pointer
}

.ngp-select ul li:hover {
	background-color: #f4f4f4
}