@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td,figure {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    color: #333333;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th {
    font-weight: normal;
    text-align: left;
}

fieldset,img {
    border: 0;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

a {
    text-decoration: none !important;
    color: #030303;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
}

i {
    font-style: normal
}

.clr {
    clear: both
}

a:hover img {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/*以上是浏览器重置*/