.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.clear:after {
    clear: both;
    display: block;
    content: '';
}

.clear {
    zoom: 1;
}

html {
    color: #000;
    background: #FFF;
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

var, em, i {
    font-style: normal;
}

address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del, ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

legend {
    color: #000;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, button, textarea, select {
    *font-size: 100%;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

a {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}


.silk_1_large{
    width: 16rem;
    margin-top: 2.6rem

}

.silk_1_Small{
    width: 14.5rem;
    margin: 0 auto;
}

.silk_1_Small ul{

}

.silk_1_Small ul li{
    font-size: 0.6rem;
  margin-bottom: 2rem;
  line-height: 1.3rem;
  color: #444;

}

.silk_1_Small ul li img{
    width: 14.5rem;
    height: 21.6rem;
}

#call img{
    width: 14.5rem;
    height: 8.8rem;
}

.silk_1_Small ul li h4{
     text-align: center;
    font-size: 0.6rem;
    line-height: 3rem;
}


.silk_1_Small ul li p{
    font-size: 0.65rem;
    line-height: 1.5rem;

}

.silk_1_Small ul li p:nth-child(1){
padding: 2.8rem 0 0 0;
}

.xie{
    font-weight: bold;
}








